body {
  padding: 0;
  margin: 0;
  background-color: #eaf6ea;
  font-family: "Karla", serif;
}
label{
  margin-bottom: 10px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
  /* width: 100%; */
}
.container {
  width: 600px; 
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}

.fullname {
  display: flex;
  gap: 15px;
}

.fieldsname {
  display: flex;
  flex-direction: column;
  margin-bottom:20px;
  flex: 1;
}
.fieldsname input{
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}
input[type="text"], input[type="email"], textarea {
  border-radius: 5px; /* Adjust the value as needed */
  border: 1px solid #ccc; /* Optional: Add a border color */
  /* padding: 10px; Optional: Add padding for better spacing */
}
.radio-group{
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  gap: 10px;
  div{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    label{
      font-size: 16px;
    }
  }
}
button{
  width: 100%;
  padding: 12px;
  background-color: hsl(169, 82%, 27%);
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  h2{
    padding-top: 80px;
  }
  .radio-group{
    flex-direction: column;
  }
  .fullname{
    flex-direction: column;
  }
}